In [ ]:
#Description: This program scrapes stock tickers and their company name from a website

In [12]:
import requests 
import pandas as pd 
from bs4 import BeautifulSoup

In [57]:
#Create two empy lists for the company name and company ticker 
company_name = []
company_ticker = []

In [42]:
URL = 'https://www.advfn.com/nyse/newyorkstockexchange.asp?companies=A'
page = requests.get(URL)
soup = BeautifulSoup(page.text, 'html.parser')
odd_rows = soup.find_all('tr', attrs={'class':'ts0'})
even_rows = soup.find_all('tr', attrs={'class' : 'ts1'})

In [43]:
for i in odd_rows:
  row = i.find_all('td')
  company_name.append(row[0].text.strip()) #CompanyName
  company_ticker.append(row[1].text.strip()) #Ticker

for i in even_rows:
  row = i.find_all('td')
  company_name.append(row[0].text.strip()) #CompanyName
  company_ticker.append(row[1].text.strip()) #Ticker

In [50]:
#Create a function to scrape the data 
def scrape_stock_symbols(Letter): 
  Letter = Letter.upper()
  URL = 'https://www.advfn.com/nyse/newyorkstockexchange.asp?companies='+Letter
  page = requests.get(URL)
  soup = BeautifulSoup(page.text, 'html.parser')
  odd_rows = soup.find_all('tr', attrs={'class':'ts0'})
  even_rows = soup.find_all('tr', attrs={'class' : 'ts1'})

  for i in odd_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip()) #CompanyName
    company_ticker.append(row[1].text.strip()) #Ticker

  for i in even_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip()) #CompanyName
    company_ticker.append(row[1].text.strip()) #Ticker

  return (company_name, company_ticker)

In [ ]:
(temp_name, temp_ticker) = scrape_stock_symbols('b')
temp_name

In [54]:
#Get a list of every letter in the alphabet 
import string 
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [58]:
#Loop through every letter in the alphabet to get all ofo the tickers and copmnay names from the website 
for char in string.ascii_uppercase: 
  (temp_name, temp_ticker) = scrape_stock_symbols(char)

In [61]:
#Create a dataframe that contains the company name and company ticker 
data= pd.DataFrame(columns = ['company_name', 'company_ticker'])
data['company_name'] = temp_name 
data['company_ticker'] = temp_ticker 
#Show data 
data

                    company_name company_ticker
0           A H Belo Corporation            AHC
1               AAC Holdings Inc            AAC
2                        ABB Ltd            ABB
3            ADC Therapeutics SA           ADCT
4         AEABridges Impact Corp           IMPX
...                          ...            ...
2851                   Zuora Inc            ZUO
2852     Zayo Group Holdings Inc           ZAYO
2853  Zimmer Biomet Holdings Inc            ZBH
2854                  Zoetis Inc            ZTS
2855               Zymeworks Inc           ZYME

[2856 rows x 2 columns]